version: '3'

services:
  rails:
    build:
      context: ..
      dockerfile: .devcontainer/Dockerfile

    volumes:
      - ../..:/workspaces:cached

    # Overrides default command so things don't shut down after the process ends.
    command: sleep infinity

    depends_on:
      - postgres
      - redis
      - selenium

  portainer:
    image: 'portainer/portainer-ce:latest'
    container_name: portainer
    restart: always
    volumes:
      - '/var/run/docker.sock:/var/run/docker.sock'
    ports:
      - '9000:9000'

  postgres:
    image: postgres:16-alpine
    restart: unless-stopped
    volumes:
      - postgres-data-16:/var/lib/postgresql/data
      - ./create-db-user.sql:/docker-entrypoint-initdb.d/create-db-user.sql
    environment:
      POSTGRES_USER: postgres
      POSTGRES_DB: postgres
      POSTGRES_PASSWORD: postgres

  redis:
    image: 'redis:7-alpine'
    restart: unless-stopped

  selenium:
    image: 'selenium/standalone-chrome:latest'
    restart: unless-stopped
    shm_size: '2gb'

volumes:
  postgres-data-16:
